@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-text {
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(255, 124, 1) 70%);

  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-bg {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

